body, html{
	background: whitesmoke;
}
p{
	margin: 0px;
}

.italic{
	font-style: italic;
}

.top{
	margin-top: 20px;
}

div.line {
	background-color: gray;
	height: 5px;
}

ul {
	padding:20px;
}
.contact {
	text-align: center;
}
.contact a {
	margin: 0 5px;
}